@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Hind+Siliguri:wght@400;500;600;700&family=Amiri:wght@400;700&family=Scheherazade+New:wght@400;700&family=Noto+Naskh+Arabic:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Hind Siliguri", ui-sans-serif, system-ui, sans-serif;
  --font-bangla: "Hind Siliguri", "SolaimanLipi", "Noto Sans Bengali", sans-serif;
  --font-arabic: "Scheherazade New", "Amiri", "Noto Naskh Arabic", serif;
}
